header img {
    width: 300px;
    position: relative;
    top: 35%;
}

header {
    display: grid;
    justify-content: center;
    background-color: #ffcc00;
    border-bottom: 4px solid #3859a6;
}


@media only screen and (max-width: 300px) {
    header img {
       width: 260px;
    }
}